body{
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
}

#contenido {	
	width: 100%;	
	margin: 0 auto;
	animation-name: page-animacion;
	animation-duration: 2s;		
}
@keyframes page-animacion{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}
header {
	background-color: #5b7989;
	border-radius:10px 10px 0 0;
	padding: 10px;	
}
header h1 {
	color: white;
	text-shadow: 2px 2px #02010a;
	text-align: center;	
	margin: 0;	
}

header nav{
	text-align: center;	
	margin: 10px 0;
}
header nav a{	 
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}
header nav a:nth-child(2){	
   margin: 0 10px;
}
header nav a.active{	
   text-decoration: none;
}
section figure{
	padding: 20px;
	margin: 0;
} 
section figure img{
	box-shadow: 2px 2px #02010a;
	width: 100%;
	height: 100%;
}
section#home-row1{
	background-color: #82c3a6;
}
section#home-row2, section#paisajes-row,
section#retratos-row {
	background-color:#d5c75f;
	flex-flow: row wrap;
     display: flex; 
}
section#paisajes-row, section#retratos-row  {	
	flex-flow: column nowrap;
}

section#home-row2 img {	
	width: 100%;	
}
section#home-row2 .img-izq img:hover {	
	transform: rotate(10deg)	
}
section#home-row2 .img-der img:hover {	
	box-shadow: 2px 2px #82c3a6;
	animation-name: imagen2-animacion;
	animation-duration: 2s;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;	
}
@keyframes imagen2-animacion{
	0%{
		position: relative;
		top: 0;
		left: 0px;
	}
	50%{
		position: relative;
		top: -5px;
		left: 20px;
	}
	100%{
		position: relative;
		left: 0px;
		top: 0px;
	}
}
section#home-row2 figure {	
	width: 100%;
    margin: 20px auto;
}
section#home-row2 a{
	text-align: center;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

section figure.img-filter1 img{
		-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
		filter: blur(10px);
	}
section#paisajes-row figure:nth-child(even) img, 
section#retratos-row figure:nth-child(even) img{
		-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
		filter: grayscale(100%);		
	}
section .img-filter3 img{
		-webkit-filter: sepia(90%);
		filter: sepia(90%);
	}
footer{
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px ;
	padding: 10px;	
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
}
footer ul{
	list-style: none;
	flex: 1;
    justify-content: center;
}    
footer li[class="titulo"]{
	font-weight: bold;
} 
footer .redes li:nth-child(3):before,
footer .redes li:nth-child(4):before,
footer .redes li:nth-child(5):before{
	content: "";
	background-image: url(../img/sprite_redes.jpg);
	width: 20px;
    height: 20px;
    display: inline-block;
    background-position: 96px -10px;
    background-size: 400px auto;
    margin-right: 10px;
    margin-top: 5px;   
    float: left;
} 
footer .redes li:nth-child(4):before{	
	background-image: url(../img/sprite_redes.jpg);	   
    background-position: 162px -69px;
       
} 
footer .redes li:nth-child(5):before{	
	background-image: url(../img/sprite_redes.jpg);	   
    background-position: 195px 60px;       
}  
/*CSS @media query desktop*/

@media (min-width: 900px){	
	#contenido{
		width: 100%;
		max-width: 900px;	
	}
	header{
		height: 45px;
		display: flex;
    	flex-direction: row;
	}
	header hgroup{
		flex: 1;
	    display: flex;	    
	    align-items: center;		
	}
	header h1{
		text-align: inherit;
	}
	header nav{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 25%;
	    margin-top: 0;
	}
	header nav a{
		flex: 1;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	section#home-row2 figure  {	
		width: 40%;
	}
	section#paisajes-row, section#retratos-row {	
		flex-flow: row wrap;
	}
	section#paisajes-row  figure, section#retratos-row  figure {	
		width: 25%;
		flex: 1 2 25%;
	}
	
	footer{
		 flex-direction: row;
	}
}